*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  margin: 0 !important;
}
html {
  scroll-behavior: smooth;
}
.dividir{
  border-bottom: 1px solid #2f2c2b;
  animation: 2s lop infinite ;
}
@keyframes lop{
  from{
    width: 0%;
  }to{
    width: 100%;
  }
}
a {
  text-decoration: none;
}

/* cabeçalho*/
#foto {
  width: 15rem;
  clip-path: circle();
}
#cabecalho {
  display: flex;
  height: 31.25rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  background:black;
}
.job {
  font-size: 1.2rem;
  font-family:'Signika Negative';
  font-style: italic;
  color: #9f9f9f;
}

.nome {
  text-align: left;
  font-size: 2.5rem;
  margin-left: 2rem;
  font-family: 'Quicksand', sans-serif;
  color: #9af5c5;
  position: relative;
}
#descPessoa{
  padding-left:2rem ;
}

/* corpo */
#corpo{
  background-color: #171a1f;
  padding-top: 3rem;
}

#cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5rem;
}
.card{
  margin:1rem;
  width: 10rem;
}
.card img{
  width: 100%;
  border-radius: 10px;
}
.sub{
  text-align: center;
  margin: 5px 0;
  font-family: 'Quicksand', sans-serif;
  color:#2f2c2b;

}

.descricao{
  margin: 5px 0;
  color: #F0F0F0;
}
.title {
  padding: 3rem 0;
  text-align: center;
  color: #9af5c5;
  font-family: 'Quicksand', sans-serif;
}
.texto{
  font-family:'Quicksand', sans-serif;
  color: #939393;
}

/* skills */
.skill{
  text-align: center;
  background-color:#3B413F;
  border-radius: 5px;
  box-shadow: #F0F0F0 0 0 10px;
  padding: 20px;
  width: 150px;
  height: 200px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 1rem 0;
}
.skills{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-around;
}
#hardskill{
  background-color:#171a1f;
  width: 100%;
  padding: 3rem 0 0 0;
}

#boxflex{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3rem 0;
}
.infoBox{
  width: 25rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  background: #050505;
  border-radius: 5px;
  padding: 0 1rem;
  box-shadow: #939393 0 0 5px;
  margin: 1rem 0;

}

/* rodapé */
#rodape {
  background: #151515;
  display: flex;
  flex-direction: column;
  height: 7rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.copy {
  padding-top: 1rem;
  text-align: center;
  font-size: 0.8rem;
  font-family: 'Signika Negative', sans-serif;
  color: #f3f6fb;
}
#icones a{
  padding: 0.5rem;
}

/* media queries */
@media (max-width: 650px) {
  #cabecalho {
    display: block;
    text-align: center;
    padding-top: 5rem;
  }
  .nome {
    text-align: center;
  }

  .skill{
    margin: 1rem 0;
  }
  .infoBox{
    margin: 1rem 0;
  }
}


