body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
img {
  width: 15rem;
  clip-path: circle();
}
#cabecalho {
  display: flex;
  height: 31.25rem;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background: #d0edf5;
}
.job {
  font-size: 1rem;
  font-family: sans-serif;
  font-style: italic;
}

.nome {
  text-align: left;
  font-size: 2.5rem;
  margin-left: 2rem;
}
.icons img {
  width: 3rem;
}
.icones {
}
/* corpo */
.container {
  margin: 5rem 5rem;
}
.title {
  text-align: center;
  font-family: 'roboto', sans-serif;
}
/* skills */
label {
  font-family: 'roboto', sans-serif;
  font-size: 1.4rem;
}
meter {
  font-size: 1.4rem;
  width: 100%;
}
/* image de fundo*/
.boxs {
  display: flex;
  margin: 5rem 1rem;
  justify-content: space-between;
}
.box1 {
  background: #f3f6fb;
  margin: 1rem;
  padding: 0 1rem;
  border-radius: 5px;
}
.box2 {
  background: #f3f6fb;
  margin: 1rem;
  padding: 0 1rem;
  border-radius: 5px;
}
.box3 {
  background: #f3f6fb;
  margin: 1rem;
  padding: 0 1rem;
  border-radius: 5px;
}
.subtitle {
  text-align: center;
  font-size: 1.3rem;
  font-family: 'roboto', sans-serif;
  color: #151b27;
}
/* rodapé */
#rodape {
  background: #151b27;
  display: flex;
  height: 7rem;
  width: 100vw;
  justify-content: center;
  align-items: flex-end;
}

.copy {
  text-align: center;
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif;
  color: #f3f6fb;
}
/* media queries */
@media (max-width: 650px) {
  #cabecalho {
    display: block;
    text-align: center;
    padding-top: 2rem;
  }
  .nome {
    text-align: center;
  }
  .boxs {
    display: block;
    justify-content: center;
  }
  .container {
    margin: 5rem 2rem;
  }
}
